@page "/CourseHome"
<div class="alert alert-primary text-center">
    <h1>Courses</h1>
</div> 

<div class="text-center mb-4">
    <img src="images/How-to-create-an-online-course.jpg.webp" alt="Developer Community" class="img-fluid" />
</div>

<div>   
    <CourseList />
</div>

<div>
    <a href="@($"AddNewCourse")" class="btn btn-primary">Add New Course</a>

</div>
@* <div>
    <NavLink href="CourseList">
        <button type="submit" class="btn btn-primary">Show All</button>
    </NavLink>
</div> *@
