@page "/"

<PageTitle>Home</PageTitle>

<div class="alert alert-primary text-center">
    <h1>Welcome to our Community</h1>
</div>

<div class="text-center mb-4">
    <img src="images/largest-developer-community-slashdata.jpg" alt="Developer Community" class="img-fluid" />
</div>

<p>Welcome to Developers Community</p>

<SurveyPrompt Title="How is Courses Going with you?" />
