@page "/InstructorHome"
<div class="alert alert-primary text-center">
    <h1>Instructors</h1>
</div>
<div class="text-center mb-4">
    <img src="images/programming-course-flat-color-vector-600nw-1960610341.webp"
        alt="Developer Community" class="img-fluid" />
</div>

<div>
    <InstructorList/>
</div>
<div>
    <a href="@($"AddNewInstructor")" class="btn btn-primary">Add New Instructor</a>
</div>

@* <div>
    <NavLink href="InstructorList">
        <button type="submit" class="btn btn-primary">Show All</button>
    </NavLink>
</div> *@
