@page "/StudentHome"
<div class="alert alert-primary text-center">
    <h1>Students</h1>
</div>

<div class="text-center mb-4">
    <img src="images/Programmer.webp" alt="Developer Community" class="img-fluid" />
</div>

<div>
    <StudentList/>
</div>
<div >
     <a href="@($"AddNewStudent")" class="btn btn-primary">Add New Student</a>
</div>
@* <div>
    <NavLink href="StudentList">
        <button type="submit" class="btn btn-primary">Show All</button>
    </NavLink>
</div> *@
